doctype html
html(lang='cmn')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 中美创投峰会区块链论坛
  body
    header
      div.header-left
        #menu_button.icon-menu.hidden
        a#header-logo.hidden(href='#top') 
          | 中美创投峰会 
          span 区块链论坛
      div.header-right
        nav#menu_list
          ul
            li
              a(href='#points') 论坛亮点
            li
              a(href='#guests') 邀请嘉宾
            li
              a(href='#line') 论坛议程
            li
              a(href='#star') 区块链之星评选
            li 
              a(href='#partners') 媒体合作
        a.btn-base(href='http://blockstech6.baiduux.com/h5/794f6ef9-d4b5-4835-2219-6d7091e9a5ce.html?channelid=f8400fea1f0eb8a1') 即刻报名      
    section#top.banner
      img.bg-1(src="./image/bg-1.jpg")
      img.bg-2(src='./image/bg-2.jpg')
      .s-wrap
        p.slogan 区块赋能 链接未来
        h1 中美创投峰会 
          span 区块链论坛
        ul.tp
          li
            span.icon-place
            p 美国硅谷
          li
            span.icon-date
            p 7 月 21 日
        a.btn-base.sign-up(href='http://blockstech6.baiduux.com/h5/794f6ef9-d4b5-4835-2219-6d7091e9a5ce.html?channelid=f8400fea1f0eb8a1' target='_blank') 即刻报名
        ul.organizers
          li
            h2 主办
            img(src="./image/icon-renmin.png", alt="人民网创投")
          li
            h2 协办
            img(src="./image/icon-chainnews.png", alt="链闻")

    section.desc
      .s-wrap
        p 未来已来，一个全新世界等待创投先锋深入探索。
        p 金融科技专业资讯平台链闻，携手传播中国声音的权威媒体人民网，拥抱全新的商业未来，在美国硅谷联合组织"中美创投峰会之区块链论坛"，以「区块赋能 链接未来」为主题，聚焦区块链前沿技术创新，展望区块链这项创新技术推动下，创业与投资带来的巨大变革。
        p 此次峰会核心主题旨在区块链技术的分享和应用，同时加强全球区块链行业从业者们的合作与交流，推动全球区块链科技行业运用的潜力与发展，帮助区块链创新创业精英与资本方对接，加速区块链生态化应用的落地。

    section#points.points
      .s-wrap
        h3.s-title 论坛亮点
        ul 
          li 
            h4 权威盛会 链接中西
            p 中美创投届最具权威性盛会之一，搭建区块链行业创业者、投资人之间的沟通合作渠道。
          li 
            h4 年度评选 荣耀见证
            p 行业年度颁奖盛典，揭晓树立行业发展标杆，直达荣誉之巅。
          li 
            h4 领袖齐聚 共创未来
            p 中美政要、全球区块链行业领袖、硅谷投资人、创业家、技术精英齐聚，共同把脉行业发展。
          li 
            h4 顶级媒体 全程报道
            p 人民网、人民日报 Facebook、 100＋ 微信社群、200+ 知名媒体全程同步曝光，千万目标人群覆盖 。
          li 
            h4 硅谷考察 交流学习
            p 谷歌、Facebook 等 10 多家互联网巨头考察机会，分享创投经验，共话趋势热点。

    section.time-place
      ul
        h3.s-title 地点时间
        li
          img(src='./image/icon-map.svg')
          div
            p 美国硅谷 Santa Clara Convention Center
            p 5001 Great America Pkwy, Santa Clara, CA
        li 
          img(src='./image/icon-date.svg')
          div
            p 2018 年 7 月 21 日
            p 13:00 - 17:00
      .location
        img(src='./image/event-loaction.jpg' alt='活动地址')

    section#guests.guests
      .s-wrap
        h3.s-title 邀请嘉宾
        ul
            li
              .avatar
                img(src="./image/guest-1.jpg", alt="")
              p.guests-name 李佳
              div.guests-desc 
                p CarBlock 创始人兼 CEO
            li
              .avatar
                img(src="./image/guest-2.jpg", alt="")
              p.guests-name 张璇
              div.guests-desc 
                p MIXMARVEL 创始人
            li
              .avatar
                img(src="./image/guest-3.jpg", alt="")
              p.guests-name 厉建宇
              div.guests-desc 
                p ELONCITY 创始人兼 CEO
            li
              .avatar
                img(src="./image/guest-4.jpg", alt="")
              p.guests-name 冒志鸿
              div.guests-desc 
                p ArcBlock 创始人兼 CEO
            li
              .avatar
                img(src="./image/guest-5.jpg", alt="")
              p.guests-name Noah Johnson
              div.guests-desc 
                p Oasis Labs 联合创始人兼首席产品官
            li
              .avatar
                img(src="./image/guest-6.jpg", alt="")
              p.guests-name 张博
              div.guests-desc 
                p Aurora 联合创始人兼市场 VP
            li
              .avatar
                img(src="./image/guest-7.jpg", alt="")
              p.guests-name Teck Chia
              div.guests-desc 
                p Binance 孵化器合伙人
            li
              .avatar
                img(src="./image/guest-8.jpg", alt="")
              p.guests-name 阮宇博
              div.guests-desc 
                p 八维资本创始人
            li
              .avatar
                img(src="./image/guest-9.jpg", alt="")
              p.guests-name Kevin Ding
              div.guests-desc 
                p DHVC 合伙人
            li
              .avatar
                img(src="./image/guest-10.jpg", alt="")
              p.guests-name 廖志宇
              div.guests-desc 
                p 超脑链联合创始人 先烽资本创始人
            li
              .avatar
                img(src="./image/guest-11.jpg", alt="")
              p.guests-name 林吓洪
              div.guests-desc 
                p 菩提预测市场 创始人兼 CEO
            li
              .avatar
                img(src="./image/guest-12.jpg", alt="")
              p.guests-name 呼涛
              div.guests-desc 
                p TokenInsight 创始人
            li
              .avatar
                img(src="./image/guest-13.jpg", alt="")
              p.guests-name Rick Wang
              div.guests-desc 
                p SealBlock CTO
            li
              .avatar
                img(src="./image/guest-14.jpg", alt="")
              p.guests-name Matt Liu
              div.guests-desc 
                p Origin Protocol 联合创始人
            li
              .avatar
                img(src="./image/guest-15.jpg", alt="")
              p.guests-name 古千峰
              div.guests-desc 
                p BTCMedia 亚洲 首席技术官
        p.guests-tip 嘉宾持续更新中

    section#line.line
      .s-wrap
        h3.s-title 论坛议程
        ol
          li
            p.line-date 12:00 - 13:00
            div.line-content
              p 签到
          li
            p.line-date 13:00 - 13:05
            div.line-content
              p 人民网领导致辞
          li
            p.line-date 13:05-13:10
            div.line-content
              p 欢迎辞
              p
              p 刘锋 - 链闻总编辑
          li
            p.line-date 13:10-13:30
            div.line-content
              p 主题演讲
              p 以技术之名：为什么我们相信区块链带来的变革
              p Noah Johnson - Oasis Labs 联合创始人兼首席产品官
          li
            p.line-date 13:30-13:50
            div.line-content
              p 主题演讲
              p 应用为王：用区块链革命车联网数据应用
              p 李佳 - CarBlock 创始人
          li
            p.line-date 13:50-14:00
            div.line-content
              p 人民创投与每日经济新闻战略合作签约仪式
          li
            p.line-date 14:00-14:10
            div.line-content
              p 人民创投区块链研究院传媒实验室成立仪式
          li
            p.line-date 14:10–14:50
            div.line-content
              p 圆桌会议
              p 欢迎来到区块链 3.0 时代
              p 主持人：廖志宇 嘉宾：冒志鸿、张博、Rick Wang、Noah Johnson
          li
            p.line-date 14:50-15:30
            div.line-content
              p 主题演讲
              p 娱乐再造：用区块链创造游戏新场景和新体验
              p 张璇 - MIXMARVEL 创始人
          li
            p.line-date 15:30-15:50
            div.line-content
              p 圆桌会议
              p 抓住下一个加密数字独角兽
              p 主持人：呼涛 嘉宾：Teck Chia、阮宇博、Kevin Ding、林吓洪
          li
            p.line-date 15:50-16:10
            div.line-content
              p 主题演讲
              p 能源革命：如何让分散式可再生电能供应成为可能
              p 厉建宇 - ELONCITY 创始人
          li
            p.line-date 16:10-16:50
            div.line-content
              p 圆桌会议
              p 头脑风暴：落地应用，一切为了可实现的美好未来
              p 主持人：古千峰 嘉宾：张璇、李佳、厉建宇、Matt Liu
          li
            p.line-date 16:50-17:00
            div.line-content
              p 2018 区块链之星颁奖仪式及合影
          li
            p.line-date 17:00
            div.line-content
              p 会议结束

    section#star.star2018
      .s-wrap
        h3.s-title 2018 区块链之星评选
        p.desc “2018 区块链之星”评选旨在鼓励具有技术创新和行业应用潜力的区块链创新相关产品、解决方案、应用与服务，同时促进区块链创新生态系统的构建，推动区块链市场和产业的健康发展。
        ul
          li
            div.star-name
              h4 
                | 成长
                //- img(src='./image/icon-star.png')
            p 发展迅速，且具有成长性的区块链应用项目及团队
          li
            div.star-name
              h4 
                | 创新
                //- img(src='./image/icon-star.png')
            p 技术领先并具备行业影响力的创新技术团队
          li
            div.star-name
              h4 
                | 价值
                //- img(src='./image/icon-star.png')
            p 已经成功实现技术应用，并获得投资机构青睐的创业团队
        div.btns
          //- a.btn-base(href='http://chainnews.mikecrm.com/0yIP4LA' target='_blank') 企业申报
          a.btn-base(href='https://star2018.chainnews.com/?utm_source=event-star2018-topic' target='_blank') 30 强结果
    
    section#partners.partners
      .s-wrap
        h3.s-title 媒体合作
        img(src="./image/partners.png", alt="媒体合作")
        
    section.contact
      .s-wrap
        h3.s-title 联系我们
        ul
          li
            img(src="./image/qrcode-bd.jpg", alt="商务合作")
            h4 商务合作
            p 微信：17764476940
            p 邮箱：bd@blocks.tech
          li
            img(src="./image/qrcode-rui.jpg", alt="媒体合作")
            h4 媒体合作
            p 微信：545296575
            p 邮箱：ruuii@blocks.tech
          //- li
          //-   img(src="./image/qrcode-lixin.jpg", alt="会议合作")
          //-   h4 会议合作
          //-   p 微信：caolixincaolixin
          //-   p 邮件：clx@blocks.tech
      footer
        .s-wrap
          p Copyright © 2018 链闻 ChainNews 京ICP备18006508号-1
    
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-105874577-4', async='')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-105874577-4');